.blog {
    width: 100vw;
    margin: 0 auto;
}

.blog-title {
    color: var(--primary-color);
}

.blog-text {
    margin: 20px 0px;;
}

.blog-img {
    width: 400px;
}

.blog-hero {
    display: flex;
    gap: 20px;
}