.navbar {
    width: 100vw;
    height: 60px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(23, 23, 23);
    color: white;
}

.nav-logo {
    font-size: 3rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    gap: 30px;
    cursor: pointer;
}

.nav-icon {
    color: #fff;
}

.nav-link:hover, 
.nav-logo:hover,
.nav-icon:hover {
    color: blueviolet;
}
